<h2>ショッピングカート</h2>

<% if @cart_items.any? %>
  <table>
    <thead>
      <tr>
        <th>商品名</th>
        <th>単価（税込）</th>
        <th>数量</th>
        <th>小計</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @cart_items.each do |cart_item| %>
        <tr>
          <td><%= cart_item.item.name %></td>
          <td><%= number_to_currency(cart_item.item.price * 1.1) %></td> <!-- 消費税込み -->
          <td>
            <%= form_with model: [:public, cart_item], local: true, method: :patch do |f| %>
              <%= f.number_field :amount, value: cart_item.amount, min: 1 %>
              <%= f.submit "変更" %>
            <% end %>
          </td>
          <td><%= number_to_currency((cart_item.item.price * 1.1).floor * cart_item.amount) %></td>
          <td>
            <%= link_to "削除", public_cart_item_path(cart_item), method: :delete, data: { confirm: "本当に削除しますか？" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div>
  <p>合計金額: <%= number_to_currency(@cart_items.sum { |ci| (ci.item.price * 1.1).floor * ci.amount }) %></p>

  <%= link_to "買い物を続ける", public_items_path, class: "btn btn-secondary" %>
  <%= link_to "カートを空にする", destroy_all_public_cart_items_path, method: :delete, data: { confirm: "全て削除しますか？" }, class: "btn btn-danger" %>
  <%= link_to "情報入力に進む", new_public_order_path, class: "btn btn-primary" %>
</div>

<% else %>
  <p>カートに商品がありません。</p>
<% end %>
